<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <renderLayout>
        <processor type="Sitecore.CookieConsent.Pipelines.RenderLayout.InsertCookieConsent, Sitecore.CookieConsent" />
      </renderLayout>
    </pipelines>
  </sitecore>
</configuration>
