<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      
      <!-- Web Forms pipeline processor -->
      <renderLayout>
        <processor type="Sitecore.CookieConsent.Pipelines.RenderLayout.RenderCookieConsent, Sitecore.CookieConsent" />
      </renderLayout>
      
      <!-- Mvc pipeline processor -->
      <mvc.getRenderer>
        <processor patch:instead="*[@type='Sitecore.Mvc.Pipelines.Response.GetRenderer.GetViewRenderer, Sitecore.Mvc']"
          type="Sitecore.CookieConsent.Pipelines.GetRenderer.GetViewRenderer, Sitecore.CookieConsent" />
      </mvc.getRenderer>
      
    </pipelines>

    <!-- Factory mapping -->
    <cookieConsent>
      <cookieConsentService type="Sitecore.CookieConsent.Services.CookieConsentService" />
    </cookieConsent>
    
  </sitecore>
</configuration>
